<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Filename:</b>
  <%= @book.filename %>
</p>


<%= link_to 'Back', books_path %>
